:root{
    --color-border:#7a399d;
    --color-dino:rgba(122,57,157,0.8);
    --color-fist: #FAFFFF;
    --color-fist-light:rgba(250, 255, 255, 0.52);
    --color-second:#050914;
    --color-second-lite: rgb(5,9,20,0.3);
    --color-third:#110524;
    --color-sky:#b5e4e3;
}