.social-media {
    display: block;
    height: 30px;
    width: 30px;
    text-indent: -9999px;
    background-repeat: no-repeat;
}

.social-media[href*='twitch'] {
    background-image: url(../../imagens/twitch.svg);
}

.social-media[href*='twitter'] {
    background-image: url(../../imagens/twitter.svg);
}

.social-media[href*='discord'] {
    background-image: url(../../imagens/discord.svg);
}